/*  config gerais */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Montserrat';
    background-color: #ebe9e9;
}

.container{
    background-color: #e6e4e4;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}

.slider{
    margin-top: 120px;
}

/* header */
header{
    font-size: 1.2em;
    font-weight: 600;
  
}

li a{
    padding: 0 0 5px 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


header a:link,header
a:visited {
    color: red;
    text-decoration: none;
}

header a:hover{
    font-weight: 800;
    color: #c79d33;
    border-bottom: 2px solid #c79d33;
}


#logo  {
    border: none;
}


/* slide */
#slide {
    width: 100dvw;
    
}

.carousel-inner{
    box-shadow: 10px 10px 21px 6px #c1c1c1;
}


/* conteudo */

/* titulos */
h2{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.03em;
    color: #c79d33;
}

/* titulo */
#conteudo .destaque  {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.card{
    box-shadow: 10px 10px 21px 6px #c1c1c1;
    box-shadow: 10px 10px 21px 6px ;
}

.card:hover{
 border:1px solid red;
    transform: scale(1.05);
    transition: 0.3s;
}



