/*  config gerais */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: 'Montserrat';
    background-color: #ebe9e9;
}

.container{
    background-color: #e6e4e4;
}

.slider{
    margin-top: 120px;
}

/* header */
header{
    font-size: 1.2em;
    font-weight: 600;
  
}

li a{
    padding: 0 0 5px 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}


header a:link,header
a:visited {
    color: red;
    text-decoration: none;
}

header a:hover{
    font-weight: 800;
    color: #c79d33;
    border-bottom: 2px solid #c79d33;
}


#logo  {
    border: none;
}


/* slide */


.carousel-inner{
    width: 100%;
   
}

/* conteudo */

h2{
    font-weight: 700;
    letter-spacing: 0.04em  ;
    color: #c79d33;
}


#conteudo .destaque  {
    font-weight: 700;
    letter-spacing: 0.04em  ;
    color: #c79d33;
    border-bottom: 3px solid #c79d33;;
}





